:root {
  --background: #0C0A09;
  --background-card: #1C1917;
  --border-card: #27272A;
  --primary-text: #F2F2F2;
  --secondary-text: #93939B;
  --primary: #22C55E;
  --secondary: #227740;
  --border: ;
  --radius: 0.5rem;

  /* Hover */
  --background-card-hover: #262626;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}