* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

tbody {
  overflow: auto;
  max-height: 640px;
}

main .recent_users table {
  background-color: var(--background-card);
  width: 66vw;
  height: auto;
  border-radius: var(--radius);
  border: 1px solid var(--border-card);
  padding: 0.5rem;
  border-collapse: collapse;
  text-align: center;
  box-shadow: 0px 0px 20px var(--background-card);
  transition: all 300ms ease;
}

.recent_users {
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: var(--radius);
  max-height: 420px;
  width: 66vw;
  transition: all 500ms;
}

main {
  height: 78vh;
}

main .recent_users th {
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

main .recent_users td {
  font-size: 1rem;
  letter-spacing: 1.6px;
}

main .recent_users table:hover {
  box-shadow: none;
}

main table tbody td {
  color: var(--secondary-text);
  height: 3rem;
  padding: 0.6rem;
  border-bottom: 1px solid var(--border-card);
}
