input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  font-size: 0.88rem;
  padding: 10px;
  background-color: var(--background);
}

.container {
  display: grid;
  position: relative;
  width: 100%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 50rem auto;
}

main>h1 {
  position: relative;
  margin-bottom: 3rem;
}

.container_form {
  position: relative;
  max-width: 900px;
  width: 70%;
  border-radius: var(--radius);
  padding: 30px;
  margin: 0 15px;
  background: var(--background-card);
}

.container_form form {
  position: relative;
  margin-top: 16px;
  min-height: 490px;
}

.container_form form .title {
  display: block;
  font-size: 20px;
  margin-bottom: 6px;
  font-weight: 500;
  margin: 16px 0;
  color: var(--primary-text);
}

.container_form form .fields {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

form .fields .inputs_field {
  display: flex;
  width: calc(100% / 3 -15px);
  flex-direction: column;
  margin: 4px 0;
}

.inputs_field label {
  font-size: 12px;
  font-weight: 500;
  color: var(--secondary-text);
}

.inputs_field input, select {
  outline: none;
  border: 1px solid var(--border-card);
  background-color: var(--background-input);
  border-radius: var(--radius);
  box-shadow: 0px 0px 8px 6px rgba(17, 17, 17, 0.486);
  padding: 0 15px;
  height: 42px;
  margin: 4px 0;
}

.inputs_field input[type="date"], select {
  color: var(--secondary-text);
  width: 14rem;
}

.inputs_field input[type="date"]:valid, select::after {
  width: 14rem;
  color: var(--primary-text);
}

.inputs_field input:hover, input:focus, select:hover, select:focus {
  background-color: var(--background-card-hover);
}

.inputs_field input::placeholder {
  color: var(--secondary-text);
}

.container_form form button {
  display: block;
  margin-left: 25;
  align-items: end;
  justify-content: end;
  height: 45px;
  max-width: 200px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: var(--radius);
  color: var(--background-card);
  font-weight: 700;
  margin: 24px 17rem;
  background-color: var(--primary);
  transition: all 0.3s linear;
}

.addBtn {
  display: block;
  align-items: center;
  justify-content: center;
}

form button:hover {
  background-color: var(--secondary);
  box-shadow: 0px 0px 8px 6px rgba(17, 17, 17, 0.486);
}


/* h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}
 */

main {
  margin-top: 0rem;
  width: 75vw;
}